<div class="col-md-6 offset-md-3">
    <h3> Dodaj ispit </h3>
    <form (ngSubmit) = "onSubmit()">
        <div class="form-group" [formGroup]="form">
            <label> Bodovi </label>
            <input type="text" class="form-control" id="examPoints" [(ngModel)]="exam.examPoints" name="examPoints" [formControl]="form.controls.examPoints">
        </div>
    
        <div class="form-group" [formGroup]="form">
            <label> Bodovi kolokvijum</label>
            <input type="text" class="form-control" id="labPoints" [(ngModel)]="exam.labPoints" name="labPoints" [formControl]="form.controls.labPoints">
        </div>
    
        <div class="form-group" [formGroup]="form">
            <label> Datum </label>
            <input type="date" class="form-control" id="datum" [(ngModel)]="exam.datum" name="datum" [formControl]="form.controls.datum">
        </div>

        <div class="form-group" [formGroup]="form">
            <label for="courses"> Predmet </label>
            <select class="form-control"  formControlName="courses" id="courses" required>
                <option *ngFor="let course of courses; let i = index;" [value]="courses[i].id">
                    {{courses[i].name}}
                </option>
            </select>
        </div>

        <div class="form-group" [formGroup]="form">
            <label for="students"> Student </label>
            <select class="form-control"  formControlName="students" id="students" required>
                <option *ngFor="let student of students; let i = index;" [value]="students[i].id">
                    {{students[i].cardNumber}} {{students[i].firstName}} {{students[i].lastName}}
                </option>
            </select>
        </div>

        <div class="form-group" [formGroup]="form">
            <label for="examperiods"> Ispitni rok </label>
            <select class="form-control"  formControlName="examperiods" id="examperiods" required>
                <option *ngFor="let examperiod of examperiods; let i = index;" [value]="examperiods[i].id">
                    {{examperiods[i].name}}
                </option>
            </select>
        </div>
    
        <button class="btn btn-success" type="submit">Dodaj</button>
    </form>
</div>
