<h3> Detalji ispita</h3>
<div>
    <div>
        <label> <b> Bodovi </b></label> {{exam.examPoints}}
    </div>
    <div>
        <label> <b> Bodovi kolokvijum </b></label> {{exam.labPoints}}
    </div>
    <div>
        <label> <b> Datum </b></label> {{exam.datum}}
    </div>
    <div>
        <label> <b> Predmet </b></label> {{exam.course.name}}
    </div>
    <div>
        <label> <b> Student </b></label> {{exam.student.firstName}} {{exam.student.lastName}}
    </div>
    <div>
        <label> <b> Ispitni rok </b></label> {{exam.examPeriod.name}}
    </div>
</div>
