<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a [routerLink]="['/for-teacher']" routerLinkActive="active" class="nav-link">Profil profesora</a>
        </li>
    </ul>
</nav>
<br>
<h1 class="text-center">eServis</h1>
<br>
<div class="container">
<h3> Detalji ulogovanog profesora </h3>
<div>
    <div>
        <label> <b> Ime profesora </b></label> {{teacher.firstName}}
    </div>
    <div>
        <label> <b> Prezime profesora </b></label> {{teacher.lastName}}
    </div>
    <div>
        <label> <b> Zvanje profesora </b></label> {{teacher.title}}
    </div>

    <br>
    <h5> Predmeti koje predaje profesor</h5>
    <table class="table table-striped">
        <thead>
            <th>Naziv predmeta</th>
            <th>ESPB</th>
            <th>Semestar</th>
        </thead>
        <tbody>
        <tr *ngFor="let course of courses; let i = index;">
            <td>{{courses[i].name}}</td>
            <td>{{courses[i].espb}}</td>
            <td>{{courses[i].semester}}</td>   
        </tr>
        </tbody>
    </table>

</div>
</div>
