<div class="col-md-6 offset-md-3">
    <h3> Izmeni ispit </h3>
    <form (ngSubmit) = "onSubmit()">
        <div class="form-group" [formGroup]="form">
            <label> Bodovi </label>
            <input type="text" class="form-control" id="examPoints" [(ngModel)]="exam.examPoints" name="examPoints" [formControl]="form.controls.examPoints">
        </div>
    
        <div class="form-group" [formGroup]="form">
            <label> Bodovi kolokvijum</label>
            <input type="text" class="form-control" id="labPoints" [(ngModel)]="exam.labPoints" name="labPoints" [formControl]="form.controls.labPoints">
        </div>

        <div class="form-group" [formGroup]="form">
            <label> Datum </label>
            <input type="date" class="form-control" id="datum" [(ngModel)]="exam.datum" name="datum" [formControl]="form.controls.datum">
        </div>
    
    
        <button class="btn btn-success" type="submit">Izmeni</button>
    </form>
</div>