<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="students" routerLinkActive="active" class="nav-link">Studenti Lista</a>
    </li>
    <li class="nav-item">
      <a routerLink="create-student" routerLinkActive="active" class="nav-link">Dodaj studenta</a>
    </li>
  </ul>
</nav>

<h1 class="text-center">{{title}}</h1>
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- <footer class="footer">
  <div class="container">
    <span>eServis 2020</span>
  </div>
</footer> -->



