<h2> Ispitni rokovi </h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th> Naziv roka </th>
            <th> Pocetak </th>
            <th> Kraj </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let examperiod of examperiods">
            <td> {{ examperiod.name }}</td>
            <td> {{ examperiod.startDate }}</td>
            <td> {{ examperiod.endDate }}</td>
            <td>
                <button (click) = "updateExamPeriod(examperiod.id)" class="btn btn-info">Izmeni</button>
                <button (click) = "deleteExamPeriod(examperiod.id)" class="btn btn-danger" style="margin-left: 10px;">Obrisi</button>
                <button (click) = "examPeriodDetails(examperiod.id)" class="btn btn-success" style="margin-left: 10px;">Detalji</button>
            </td>
        </tr>
    </tbody>
</table>

